extends ../layout

block content
  h2 API Examples
  hr

  .row
    .col-sm-4
      a(href='/api/demo', style='color: #fff')
        .card(style='background-color: #3b5998')
          .card-body
            img(src='https://imgur.com/gallery/R1OTqov', height=200, alt='Demo')
            |  Yosemite
